[target]
# is-local = false if mounting the remote (defined in config.ini) is required.
is-local = $islocal
# If not is-local, then local-path is the local path of the target after the remote has been mounted.
local-path = $localpath
